/* Enter your custom styles here */

.sapMNC {
    width: 4rem;
}

.item-box > :last-of-type {
    margin-left: auto;
}

.min-width-zero {
    min-width: 0;
}

.sapMScrollContScroll {
    height: 100%;
}

.sapMFT > em {
    background: #826ae2;
}

.sapMSwtLabel{
    font-size: 0.6rem;
}

.sapMTB .sapMLnk:not(.sapMLnkDsbl) {
    text-shadow: 0 0 0.125rem #000;
}